:root {
  --mainColor: #fff;
  --secondColor: rgb(253, 140, 64);
  --default: white;
  --grayed: rgb(203, 198, 198);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: absolute;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tabela {
  position: fixed;
  width: 100%;
}

.tabela table{
  display: inline-block;
  margin-top: 5px;
}

.tabela table tbody th {
  padding: 10px;
  background-color: #fff;
}

.tabela table tbody td {
  padding: 1px;
  border: 1px solid black;
}

.format {
  background-color:var(--default);
}

.formatB {
  background-color: var(--grayed);
}

.sp {
  background-color: var(--secondColor);
}